# SMTP Configuration
EMAIL_USER=
EMAIL_PASS=
EMAIL_HOST=
EMAIL_PORT=

# Google Search Console & Indexing API Configuration
# Option A: Paste the entire stringified Service Account JSON file here:
GOOGLE_SERVICE_ACCOUNT_JSON=

# Option B: Or define individual fields separately:
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
